/*  your css code here. If applicable */
.bcolor{
	background-color:yellow;
}

.table{
	border:1px solid rgb(255, 255, 0);
}

.bcolor th,td{
	border:1px solid rgb(0, 0, 0);
}

.centr{
	text-align:center;
}
